<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SDRO - CBMES</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header>

		<figure class="html5" id="logo">
			<img src="images/rocket.png" alt="Logo SDRO" title="Logo SDRO" width="40" height="40" />
		</figure>
		<h1 id="nomeSistema">SDRO-CBMES</h1>
		<div id="user">
			<span id="usuario">
			</span>
			<a href="login.html">sair</a>			
		</div>

	</header>

	<nav>
		<div class="menu">
			<ul>
				<li class="menu-item"><a href="inicial.html">Início</a></li>
				<li class="menu-item dropdown">
					<a href="" class="dropbtn">Cadastrar</a>
					<div class="dropdown-content">
						<a href="lista_viaturas.html">Viatura</a>
						<a href="lista_pessoas.html">Pessoa</a>
						<a href="lista_unidades.html">Unidade</a>
					</div>
				</li>
				<li class="menu-item dropdown">
					<a href="" class="dropdown">Alocar</a>
					<div class="dropdown-content">
						<a href="aloca_equipe.html">Equipe</a>
						<a href="alocaefetivo_disp.html">Efetivo Disponível</a>
					</div>
				</li>
			</ul>
		</div>


	</nav>

	<div class="conteiner">
		<h2 class="titulo-principal">Cadastrar Equipe</h2>
		<br>
		<form class="form-cadastro" method="POST" action="#">
			<table class="tabela-cadastro">
				<tr>
					<td>
						<label>Unidade:</label>
					</td>
					<td>
						<input name="unidade" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class="required">Descrição:</label>
					</td>
					<td>
						<input name="descricao" required/>
					</td>
				</tr>
				<tr>
					<td>
						<label class="required">Data Turno:</label>
					</td>
					<td>
						<input type="datetime-local" required="">
					</td>
				</tr>
			</tr>
			<tr>
				<td>
					<label class="required">Modalidade:</label>
				</td>
				<td>
					<select name="tipo" class="select" required="">
						<option value="">selecionar modalidade</option>
						<option value="opcao1">opcao 1</option>
						<option value="opcao2">opcao 2</option>
					</select>	
				</td>
			</tr>
			<tr>
				<td>
					<label class="required">Chefe de Equipe:</label>
				</td>
				<td>
					<select name="tipo" class="select" required="">
						<option value="">selecionar Chefe de Equipe</option>
						<option value="opcao1">opcao 1</option>
						<option value="opcao2">opcao 2</option>
					</select>	
				</td>
			</tr>
			<tr>
				<td>
					<label class="required">Selecione Membros:</label>
				</td>
				<td><!--
					<select name="membros" readonly="readonly" multiple>
						<option value="membro1">3º Sgt BM Fernando</option>
						<option value="membro2">Cb BM Pedra</option>
						<option value="membro3">Sd BM Vitor</option>
						<option value="membro4">Maj BM Ferreira</option>
						<option value="membro5">Cap BM Gabriel</option>
						<option value="membro6">2º Ten BM Adler</option>
						<option value="membro7">Al Sd BM Yago</option>
					</select>-->	
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
			</table>

			

			<div id="openModal" class="modalDialog">
				<div>
					<a href="#close" title="Close" id="fechar" class="close">X</a>
					<h2>Selecione os Militares que compõem a equipe</h2>
					<table class="table-listar">

						<thead>
							<tr>
								<th>Posto/Graduação</th>
								<th>Nome de Guerra</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td>2º Ten BM QOC</td>
								<td>Matheus</td>
								<td>  <a href="javascript:func()" onclick="adicionaMembro('2º Ten BM QOC','Matheus')"><i class="fa fa-plus-square"></i></a></td>
							</tr>
							<tr>
								<td>Cap BM QOA</td>
								<td>Antonia</td>
								<td>  <a href="javascript:func()" onclick="adicionaMembro('Cap BM QOA','Antonia')"><i class="fa fa-plus-square"></i></a></td>
							</tr>
							<tr>
								<td>Maj BM</td>
								<td>Fernando</td>
								<td>  <a href="javascript:func()" onclick="adicionaMembro('Maj BM','Antonia')"><i class="fa fa-plus-square">
								</tr>
								<tr>

									<td>Sd BM</td>
									<td>Alfredo</td>
									<td>  <a href="javascript:func()" onclick="adicionaMembro('Sd BM','Alfredo')"><i class="fa fa-plus-square">
									</tr>
									<tr>
										<td>Cb BM</td>
										<td>Gabriel</td>
										<td>  <a href="javascript:func()" onclick="adicionaMembro('Cb BM','Gabriel')"><i class="fa fa-plus-square">
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<table class="table-equipe" id="tabela-equipe">

				<thead>
					<tr>
						<th>Posto/Graduação</th>
						<th>Nome de Guerra</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sd BM</td>
						<td>Alfredo</td>
						<td>  <a href="javascript:func()" onclick="confirmacao('1')"><i class="material-icons">remove_circle_outline</i></a></td>
					</tr>
					<tr>
						<td>Cb BM</td>
						<td>Gabriel</td>
						<td>  <a href="javascript:func()" onclick="confirmacao('1')"><i class="material-icons">remove_circle_outline</i></a></td>
					</tr>
				</tbody>
			</table>
			
			
			<br>
			<div class="conteiner-botao">
				<a class="botao" href="#openModal">Adicionar Efetivo</a>
				<button class="botao" >Cadastrar</button>
			</div>

		</form>
	</div>

	<footer>
		<div class="footer-text">
			CORPO DE BOMBEIROS MILITAR DO ESPÍRITO SANTO (CBMES) <br>Rua Ten. Mário Francisco de Brito, 100 - Enseada do Suá CEP: 29050-555 - Vitória / ES
		</div>
	</footer>
	<script type="text/javascript" src="js/form.js"></script>
</body>

</html>


