<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SDRO - CBMES</title>
	<link rel="stylesheet" type="text/css" href="css/login_style.css">
	<script type="text/javascript" src="js/form.js"></script>

</head>

<body onload="funcao1">
	
	<div class="corpo">
		<header>
			<figure class="html5" id="logo">
				<img src="images/rocket.png" alt="Logo SDRO" title="Logo SDRO" width="40" height="40" />
			</figure>
			<h1 id="nomeSistema">SDRO-CBMES</h1>
		</header>
		
		<nav>
			<div class="login-page">
				<div class="recupera-page">

					<div class="form">
						<h2>Recuperação de Senha</h2>
						<form class="login-form" method="POST" action="#">

							<label >Email:</label>
							<input type="email" placeholder="Email" name="email-recuperar-senha" required/>
							<button class="botao">enviar</button>
							<p class="message"><a href="login.html">voltar</a></p>
						</form>
						
					</div>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>



